# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/TESTS
test*

# production
client/build
server/public

# misc
.DS_Store


.env
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/logs/*

client/src/components/Auth/Login2.js
client/src/components/Auth/Registration2.js
