// Base colors
$primary: #120136;
$secomdary: #9faeff;
$success: #ddffc1;
$danger: #ff3d46;
$warning: #ff8f3a;
$info: #7f8c8d;

$black: #000;
$dark: #202020;
$gray: #cacaca;
$light: #fafafa;
$white: #fff;

$yellow: #fce473;
$pink: #c71585;
$green: #32cd32;
$blue: #0000ff;

// Breakpoints
$sm: 450px;
$md: 900px;
$lg: 1200px;
$xl: 1500px;

// Fonts
$fzBaseHtml: 12px;
$fzBaseHeading: 1rem;
$fzSmall: 0.8rem;

// Colors
$turquoise: #14c89d;
$emerald: #5dbc59;
$sky: #b9efff;
$amethyst: #6f0098;
$greensea: #19b7a2;
$wisteria: #8400c2;
$sunflower: #ead746;
$carrot: #ff8f3a;
$alizarin: #ff3d46;
$clouds: #ecf0f1;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

$background: #90b9e5;
$green: #45b649;
$lightgreen: #dce35b;

$accent: #52a9e1;
$blackio: #454f58;
$greyo: #50565d;
$greyo-end: #3d454c;
$bluerple: #6a86da;
$blue-lite: #e1e7f8;
$border-grey: #f1f1f1;
$dryer: #ebeff0;
$girly: #ff5077;
$gloss: #ffccd7;
$grad-bg: linear-gradient(0deg, rgba(255, 107, 107, 0.5) 0%, rgba(224, 41, 98, 0.4) 100%);
$grad-bg-solid: rgb(255, 107, 107);
$white: #ffffff;

$fw: (
	"regular": 400,
	"medium": 500,
	"bold": 700,
);
