form {
	.selecter {
		height: 28px;
		width: 100%;
		position: relative;
		display: flex;
		color: $dark;
		outline: none;
		text-align: left;
		flex-direction: column;
		justify-content: center;
		user-select: none;

		.trigger {
			height: inherit;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: $light;
			border: 1px solid color($light, 10);
			padding: 0 1rem;
			line-height: initial;
			cursor: pointer;

			&:hover {
				background-color: color($blue, -45);
				// background-color: color($light, 5);
			}
			& > div {
				white-space: nowrap;
			}
		}

		.options {
			position: absolute;
			display: block;
			left: 0;
			right: 0;
			top: 4px;
			transition: all 0.5s;
			pointer-events: none;
			margin-top: 2em;
			height: 0;
			overflow-y: hidden;
			z-index: 50;
			cursor: pointer;
		}

		&.open .options {
			pointer-events: all;
			overflow-y: auto;
			height: auto;
		}

		.option {
			display: block;
			//height: auto;
			//padding: 0.5em 1rem;
			background-color: $light;
			border: 1px solid color($light, 10);
			transition: all 0.3s;
			text-align: left;
			cursor: pointer;
			border-top: 0;

			&.active {
				border: 1px solid color($light, 10);
				padding: 0;
				height: 0;
				border: 0;
			}

			&:hover {
				background-color: color($blue, -45);
				//background-color: color($light, 5);
			}
		}
		.arrow-wrap {
			padding-left: 15px;
			.arrow {
				position: relative;
				height: 6px;
				width: 6px;

				&::before,
				&::after {
					content: "";
					position: absolute;
					bottom: 0px;
					width: 0.15rem;
					height: 100%;
					transition: all 0.2s;
					background-color: color($dark, -35);
				}

				&::before {
					left: -2px;
					transform: rotate(45deg);
				}

				&::after {
					left: 2px;
					transform: rotate(-45deg);
				}
			}

			&.open .arrow::before {
				transform: rotate(-45deg);
			}

			&.open .arrow::after {
				transform: rotate(45deg);
			}
		}
	}

	// For Sellector 22px height need add class, ag: <FormPanel cls="small"/>
	&.small {
		.selecter {
			height: 22px;
			.options {
				top: -2px;
			}
		}
	}
}
